
/*Estableciendo regla del box-sizing de forma general */
*
   {
    
    box-sizing:border-box;


   }


/*Estableciendo el fondo del cuerpo de la pagina web */
body
 {

     background-image: url(fondo_general.jpg);
     background-size: cover;


 }


/*Estableciendo las propiedades de la section principal  */
.main_seccion 
   {

                    
     margin: auto;
     padding: 10px;
     width: 450px;

   }

/*Estableciendo el formulario en la seccion principal del sitio con sus respectivas propiedades */
.main_seccion form   
   {

   background-color: orange;
   border-radius: 5px;
   opacity: 85%;
   padding: 25px;
   
   }

/*Estableciendo las propiedades de los titulos para cada campo */
h3
   {

       font-family: 'Audiowide', cursive;
       padding-bottom: 10px;
       padding-left: 5px;

  
   }

/*Estableciendo las propiedades de las entradas para que el cliente ingrese sus datos */
.main_seccion form input
   {

    border: none;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    width: 375px;
    
   }

/*Estableciendo el color de la entrada para cada campo */
.main_seccion form input:focus
   {

      
      border: 2px solid green;

   }

/*Estableciendo las propiedades del boton para el formulario */
.boton
   {

        background-color: black;
        border: solid 2px white;
        border-radius: 15px;
        color: orange;
        font-family: 'Audiowide', cursive;
        height: 35px;
        width: 200px;


   }


/*Estableciendo la propiedad para centrar el boton */
.centro_boton 
   {

      text-align: center;

   }